body {
	padding: 10px;
	background-color: #f3f3f3;
}
nav li {
	display: inline;
	text-decoration: none;
	margin: 0 18px;
	font-size: 15px;
	font-family: 'Lora', serif;
}
nav ul {
	padding: 14px;
}
nav {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	font-size: 9px;
}
.location {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 15px;
	font-family: 'Lora', serif;
}
header h1 {
	background-color: #262c44;
	text-align: center;
	padding: 20px;
	font-family: 'Lora', serif;
	font-size: 25px;
	color: white;
	margin: 0px;
}
.aspen {
	background-color: #85a2b2;
	text-align: center;
	padding: 15px;
	margin-bottom: 30px;
}
.maui {
	background-color: #85a2b2;
	text-align: center;
	padding: 15px;
	margin-bottom: 35px;
}
.reykjavik {
	background-color: #007fbc;
	text-align: center;
	padding: 15px;
	margin-bottom: 35px;
}
.bigimage {
	width: 350px;
}
p {
	text-align: left;
	margin: 16px 5px;
	font-family: 'Lora', serif;
	font-size: 15px;
}
h2 {
	text-align: center;
	font-size: 15px;
	margin: 0px;
	padding-bottom: 12px;
}