body {
	padding: 30px;
	font-family: 'Lato', sans-serif;
}

.title {
	margin-top: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #dd0000;
	margin: 0px;
}
.headline {
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 300;
	color: black;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: black;
	font-size: 20px;
	margin: 0px;
	margin-top: 5px;
	padding-top: 2px;
	margin-bottom: 5px;
}
li {
	display: inline-block;
	padding: 0px;
	margin-right: 10px;

}
ul {
	padding: 0px;
	margin-top: 5px;
}
a {
	color: #918f8f;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 17px;
	border-bottom: 2px solid #dddddd;
}

.date {
	color: #918f8f;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0px;
	font-size: 26px;
}
p {
	float:right;
	font-size: 14px;
	color: #dd0000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
section {
	max-width: 720px;
	margin: 40px 0px;
	border-bottom: 2px solid #dddddd;
	overflow: hidden;
}
img {
	width: 720px;
	margin: 10px 0px;
}

article {
	color: #444444;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.5;

}
h3 {
	color: #918f8f;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 10px;
}
.footer {
	color:#dd0000;
}
